<div id="message-<%= message.id %>" class="message-item <%= current_user == message.user ? "sender" : "receiver" %>" >
  <small>
  <div class="image-chat">
    <% if message.user.image.nil? %>
      <%= image_tag "userphoto_square.jpg" %>
    <% else %>
      <%= image_tag message.user.image %>
    <% end %>
    </p>

  </div>
    <strong><%= message.user.nickname %></strong>
  </small>
  <br>

  <small>
    <i ><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p><%= message.content %></p>
</div>
