<div class="container d-flex">

  <div class=" chat-list">
    <div class="container">
      <ul>
      <h1>Your chats</h1>
      <div class="messages">
        <% @chatrooms.each do |chat|  %>
          <%= link_to chat_room_path(chat), class: 'card' do %>
              <h4><%= chat.chat_request.receiver.nickname %></h4>
              <small>
                <p>
                  <% chat.messages.each do |message| %>
                    <% message.content.split.each do |x| %>
                      <%= x.last %>
                    <% end %>
                  <% end %>
                </p>
              </small>
          <% end %>
        <% end %>
    </div>
    </ul>
  </div>
  </div>

  <div class="container chatroom"
    data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">

      <h1><%= @chatroom.chat_request.receiver.nickname %></h1>


      <div class="messages" data-chatroom-subscription-target="messages">
        <% @chatroom.messages.each do |message| %>
          <%= render "messages/message", message: message %>
        <% end %>
      </div>

      <%= simple_form_for [@chatroom, @message],
      html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
      %>
      <%= f.input :content,
        label: false,
        placeholder: "Message #{@chatroom.chat_request.receiver.nickname}",
        wrapper_html: {class: "flex-grow-1"}
      %>
      <%= f.submit "Send", class: "btn btn-primary mb-3" %>
      <% end %>

  </div>

</div>
