<div class="container">
  <div class="row d-flex justify-content-around">
    <div class="map-profile">
      <div class="d-flex flex-row justify-content-between align-items-center">
        <div style="margin-right:30px">
          <% if user.photo.attached? %>
            <%= cl_image_tag user.photo.key, height:80, width:80 %>
          <% else %>
            <%= image_tag "userphoto.jpg", class: "avatar-custom", style: "width:70%" %>
          <% end %>
        </div>
      <div class="d-flex flex-row justify-content-between">

        <div class="d-flex flex-column justify-content-center align-items-center flex-grow-1">
          <h5 style="color:red"><%= user.nickname %></h5>
          <h6 style="color:green"><%= user.location %></h6>
          <div class="d-flex align-items-center">
            <%= link_to "Profile", "#", class:"btn btn-success rounded-5 btn-sm"%>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
