<div class="card swiper-slide">
  <div class="d-row d-flex">
    <div class="align-items-baseline">
      <figure>
        <picture class="user-card-image">
          <% if user.photo.key %>
            <%= cl_image_tag user.photo.key %>
          <% elsif user.image.nil? %>
            <%= image_tag "userphoto_square.jpg" %>
          <% else %>
            <%= image_tag "#{user.image}" %>
          <% end %>
        </picture>
      </figure>
    </div>
    <div class="align-items-end">
      <div class="container">
        <%# Find chat requests between current_user and the user in a given card %>
          <% chat_requests_exists = chat_requests&.find{ |chat| chat.asker == user || chat.receiver == user } %>
          <% chat_request_pending = pending_chat_requests&.find{ |chat| chat.asker == user || chat.receiver == user } %>
          <% chat_request_confirmed = confirmed_chat_requests&.find{ |chat| chat.asker == user || chat.receiver == user } %>
          <% chat_request_pinned = pinned_chat_requests&.find{ |chat| chat.asker == user || chat.receiver == user } %>
          <% if chat_requests_exists.nil? %>
            <button class="button draw-border mr-2">
              <%= link_to new_chat_request_path(receiver: user), data: { "turbo-method": :post }, style:"color:white; text-decoration:none; font-weight: bold" do %>
                <i class="fa-solid fa-user-plus" style="color:white !important"></i>
              <% end %>
            </button>
          <% elsif chat_request_pending %>
            <button class="button draw-border mr-2">
              <%= link_to chat_requests_path, style:"color:white; text-decoration:none; font-weight: bold" do %>
                <i class="fa-regular fa-hourglass-half" style="color:white !important"></i>
              <% end %>
            </button>
          <% elsif chat_request_pinned %>
            <button class="button draw-border mr-2">
              <i class="fa-brands fa-gratipay pinned-user"></i>
            </button>
          <% elsif chat_request_confirmed %>
            <button class="button draw-border rounded-5 rounded-circle">
              <%= link_to pin_user_path(chat_request_confirmed), data: { "turbo-method": :patch } do %>
                <i class="fa-brands fa-gratipay to-pin-user"></i>
              <% end %>
            </button>
          <% end %>
      </div>
      <div class="container">
        <div class="icon-container">
          <ul class="social-icons" style="padding-left: 0px !important">
            <%# <li><a class="card-icon-container"><i class="social-icon fa-brands fa-linkedin"></i></a></li> %>
            <li>
            <%= link_to user.html_url do %>
            <i class="social-icon fa-brands fa-github"></i>
            <% end %>
            </li>
            <li>
            <%= link_to user.linkedin_url do %>
            <i class="social-icon fa-brands fa-linkedin"></i>
            <% end %>
            </li>
            <%# <li><a class="card-icon-container" href="#"><i class="social-icon fa-brands fa-github"></i></a></li> %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <p class="card-name"><%= user.nickname %></p>
  <h6><i class="fa-solid fa-location-pin"></i> <%= user.location %></h6>
  <% languages = [] %>
  <% user.languages.each do |language| %>
    <% languages << language.name  %>
  <% end %>
  <h6>Main language: <%= languages.to_sentence %></h6>
</div>
