<div class=" mb-3 mt-4 d-flex">

    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="https://picsum.photos/200" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= user.nickname %></h5>
          <h6 class="card-subtitle mb-2 text-muted">
            <% languages = [] %>
            <% user.languages.each do |language| %>
              <p><% languages << language.name %></p>
            <% end %>
            <p>Language: <%= languages.to_sentence %></p>

          </h6>
          <div class="card-buttons">
            <% chat_request = @chat_requests.find{ |chat| chat.asker == user || chat.receiver == user } %>#
            <%= link_to "Chat Request", controller: "chat_requests", action: "create"%>
          </div>
          <p class="card-text">Github profile description: I'm so good at making cards!</p>
          <a href="#" class="btn mr-2 border"><i class="fas fa-link"></i>Get to know</a>
          <a href="#" class="btn btn-primary"><i class="fab fa-github"></i> Github</a>
        </div>


div class="card-buttons">
        <% chat_request = @chat_requests.find{ |chat| chat.asker == user || chat.receiver == user } %>
        <%# <%=# link_to "Pin user", chat_request_path(chat_request), class: "card-button #{chat_request ? '' : 'disabled'}" %> %>
          <%=link_to "Chat Request", controller: "chat_requests", action: "create"%>
      </div>


      </div>
    </div>


</div>
