<div class="card-container">
  <div class="card-details">
    <div class="card-img">
      <p><%= image_tag("https://picsum.photos/200") %></p>
    </div>
    <div class="card-text">
      <h2><%= user.nickname %></h2>
      <% languages = [] %>
      <% user.languages.each do |language| %>
        <p><% languages << language.name %></p>
      <% end %>
      <p>Languages: <%= languages.to_sentence %></p>
    </div>
  </div>
  <div class="card-buttons">
    <%# Either going to be nil or chat request for user %>
    <% chat_request = @chat_requests.find{ |chat_request| chat_request.asker == user || chat_request.receiver == user } %>

    <% unless chat_request.nil? %>
      <%= link_to "Pin user", pin_user_path(chat_request), data: { "turbo-method": :patch } %>
    <% end %>
    <%# Add ", class: "card-button #{chat_request ? '' : 'disabled'}"" %>
  <%= link_to "Chat Request", new_chat_request_path(receiver: user), data: { "turbo-method": :post }%>

  </div>
</div>
