<div class="signup-form-container form-group">
  <div class="sign-up-contents">
    <div id= "sign-up-header">
      <h2 class="mb-3">About you</h2>
      <p>Please provide further details to be visible to developers near you!</p>
    </div>
    <%= simple_form_for(@user) do |f| %>
      <%= f.simple_fields_for :languages do |w| %>
          <%= w.label "Main language", id: "language-label" %>
          <%= w.select :id, Language.all.map{ |l| [l.name, l.id] },
                      {prompt: "Select main language"},
                      required: :required,
                      class: "form-control",
                      id: "language-input" %>
      <% end %>
      <%= f.input :location, input_html: { autocomplete: 'off' } %>
      <%= f.input :linkedin_url, input_html: { autocomplete: 'off' } %>
      <%= f.button :submit, "Get started", class: "sign-in-submit button draw-border mr-2" %>
    <% end %>
  </div>
</div>
