<div class="container-fluid mt-5 d-flex" style="width:1370px">
  <div data-controller="map"
    id="map"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-map-markers-value=" <%= @markers.to_json %>"
    style='width: 100%px; height:500px;'>
  </div>
</div>
  <div class="events-card text-center" style="background-color: green; width: 300px;" >
    <h1>Wanna attend developer events? </h1>
    <h4><%= link_to "Click here to check em out!", events_path %></h4>
  </div>
<div class="dropdown container justify-content-end">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Filter the languages
  </button>
  <ul class="dropdown-menu">
    <% Language.all.each do |language| %>
    <li><%= link_to language.name, users_path(language: language.name), class:"dropdown-item" %></li>
    <% end %>
  </ul>
</div>
<div class="dropdown container justify-content-end">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Filter the cities
  </button>
  <ul class="dropdown-menu">
    <% @location_filters.each do |location| %>
      <li><%= link_to location, users_path(location: location), class:"dropdown-item" %></li>
    <% end %>
  </ul>
</div>
<h1 class="text-center mt-5 mb-0">Developers near you</h1>
  <div class="container swiper mySwiper">
    <div class="swiper-wrapper">
      <% @users.each do |user| %>
        <% next if current_user == user %>
        <%= render "user_card",
        user: user,
        new_chat_request: @chat_request,
        chat_requests: @chat_requests,
        pending_chat_requests: @pending_chat_requests,
        confirmed_chat_requests: @confirmed_chat_requests,
        pinned_chat_requests: @pinned_chat_requests
        %>
      <% end %>
    </div>
  <div class="swiper-button-next "></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>


</div>
