<div class=" footer footer-custom border-top mt-3">
  <footer class="text-center text-lg-start" style="padding-top: 0px; padding-right: 80px; padding-bottom: 0px; padding-left: 80px;">
    <section>
      <div class="footer-container text-center text-md-start pt-3">
        <div class="row">
          <div class="row">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-1">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-1">
            <i class="fas fa-gem me-3"></i>Socialize
          </h6>
          <p class="mb-0">
            Find, chat and socialize with developers in your area!
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-1">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-1">
            Language
          </h6>
          <p class="mb-0">
            <%= link_to "English", "#", class: "text-reset"%>
          </p>
          <p class="mb-0">
            <%= link_to "French", "#", class: "text-reset"%>
          </p>
          <p class="mb-0">
            <%= link_to "Spanish", "#", class: "text-reset"%>
          </p>
          <p class="mb-0">
            <%= link_to "German", "#", class: "text-reset"%>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-1">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-1">
            Useful links
          </h6>
          <p class="mb-0">
            <a href="#!" class="text-reset">Account</a>
          </p>
          <p class="mb-0">
            <a href="#!" class="text-reset">Conditions of Use</a>
          </p>
          <p class="mb-0">
            <a href="#!" class="text-reset">Privacy Notice</a>
          </p>
          <p class="mb-0">
            <a href="#!" class="text-reset">Cookies Notice</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-1">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-1">Contact us</h6>
          <p class="mb-0"><i class="fa-solid fa-map me-3"></i></i>Rue de Vermont 1209, Geneva</p>
          <p class="mb-0">
            <i class="fas fa-envelope me-3"></i>
            <%= link_to "support@socialize.com", "#", class: "footer-email"  %>
          </p>
          <p class="mb-0"><i class="fas fa-phone me-3"></i> + 41 234 567 88</p>
        </div>
        <!-- Grid column -->
      </div>
      </div>
    </section>

    <section class="p-4 border-top">
      <div class="me-3 d-none d-lg-block text-center mb-2">
        <span>Connect with us: </span>
      </div>

      <div class="links d-flex justify-content-center ">

        <%= link_to "https://www.twitter.com", target:"_blank" do   %>
          <i class="fa-brands fa-square-twitter footer-icon"></i>
        <% end %>
        <%= link_to "https://www.facebook.com", target:"_blank" do   %>
          <i class="fa-brands fa-square-facebook footer-icon"></i>
        <% end %>
        <%= link_to "https://www.github.com", target:"_blank" do   %>
          <i class="fa-brands fa-square-github footer-icon"></i>
        <% end %>
        <%= link_to "https://www.instagram.com", target:"_blank" do   %>
          <i class="fa-brands fa-square-instagram footer-icon"></i>
        <% end %>
      </div>
    </section>
  </footer>
</div>
