<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <% if current_page?("/all_programmers")  %>
      <%= link_to "/", class: "navbar-brand" do %>
        <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
      <% end %>
      <div class="h1" style="text-align: center">Socialize</div>
    <% else %>
      <%# <div class="h4" style="text-align: right, display: justify-content-center; Important!>Socialize</div> %>
      <div class="containnav">
        <%= link_to "/", class: "navbar-brand d-flex align-items-center" do %>
          <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", class: 'me-2' %>
          <div class="h1" style="text-align: center; margin: 0px;">Socialize</div>
        <% end %>
      </div>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Action 1", "#", class: "nav-link text-dark font-weight-bold" %>
          </li>
            <li class="nav-item">
            <%= link_to "Action 2", "#", class: "nav-link text-dark font-weight-bold" %>
          </li>
          <li class="nav-item dropdown">
            <% if current_user.photo.key %>
              <%= cl_image_tag current_user.photo.key, height: 50, width: 50, crop: :fill, class: "avatar dropdown-toggle",  id: "navbarDropdown square", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "https://media.istockphoto.com/illustrations/blank-man-profile-head-icon-placeholder-illustration-id1298261537?k=20&m=1298261537&s=612x612&w=0&h=8plXnK6Ur3LGqG9s-Xt2ZZfKk6bI0IbzDZrNH9tr9Ok=&auto=format&fit=crop&w=500&q=60", class: "avatar dropdown-toggle",  id: "navbarDropdown square", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              <%= link_to "Action 1", "#", class: "dropdown-item" %>
              <%= link_to "Action 2", "#", class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li>
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
