
<div class="container">

  <%= simple_form_for(@event) do |f| %>
    <%= f.input :title %>
    <%= f.input :location %>
    <%= f.input :theme %>
    <%= f.input :price %>
    <%= f.input :description %>
    <%= f.input :date %>
    <%= f.input :time %>
    <%= f.submit  %>
  <% end %>

  <%= link_to "Back to your events", events_path %>
</div>
