
<%# New card %>
<li class="event-card container" aria-labelledby="event card">
  <% @events.each do |event| %>
    <div class="card-filter">
        <img class="card__photo" src="#">
    </div>
    <div class="event-card-container">
      <h2><%= event.title %></h2>
      <time><%= event.time %></time>
      <p><%= link_to event.location, "https://www.google.com/maps/search/#{event.location}" %></p>
      <div class="card-buttons d-flex">
        <div class="events-card-details-buttons">
          <%= link_to "Details", event_path(event), class:"card-fill"  %>
        </div>
        <div class="events-card-tickets-button">
          <%= link_to "Tickets", "#" %><i class="fas fa-arrow-right"></i>
        </div>
      </div>
    </div>
  <% end %>
</li>
