<p style="color: green"><%= notice %></p>
<div class="container text-center">
  <div class="details">
    <h1>Details for <%= @event.title %> event</h1>
    <h6><%= @event.description %></h6>
    <p><%= @event.price %></p>
    <p>It will be held in <%= @event.location %> on <%= @event.date %> at <%= @event.time %></p>
    <p>The theme will be <%= @event.theme %></p>
  </div>
  <%= link_to "Back to all events", events_path, class: "btn btn-primary" %>
</div>
